section {
    background-color:#aaaaaa;
}

footer {
    display: block;
    clear: both;
    background-color: #eeeeee;
}

#first {
    background: #eaeaea;
    float: left;
    width: 70%;
    padding-right: 30px;
    box-sizing: border-box;
}


#second {
    background: #cecece;
    float: right;
    width: 15%;
}

#third {
    float: left;
    width: 15%;
    background-color: #cfcfcf;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
